@import url(https://fonts.googleapis.com/css?family=Roboto);
/*Just the background stuff */
span.s1 {
  position: absolute;
  top: 0;
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447;

}

span.s2 {
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15rem;
  text-transform: uppercase;
  color: #3C4447;

}

/*My hum... body.. yeah.. */
body {
  background-color: #353B3F;
  font-family: "Roboto", sans-serif;

}

/* The card */
.card {
  position: relative;
  height: auto;
  width: 80%;
  margin: 10% auto;
  background-color: #FFF;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */

/*object-fit: cover; */
/*object-position: center; */



.left_text {
  margin-left: 5%;
  width: 90%;
}

h1 {
  padding-top: 15px;
  font-size: 2.3rem;
  color: green;
  padding-bottom: 0px;
}



h2 {
  padding-top: 8px;
  margin-right: 6px;
  text-align: right;
  font-size: 0.8rem;
}

.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}



h6 {
  position: absolute;
  left: 30px;
  bottom: -55px;
  font-size: 2rem;
  color: #C3C3C3;
}

/* Those futur buttons */
ul {
  margin-left: 250px;
}

li {
  display: inline;
  list-style: none;
  padding-right: 40px;
  color: #7B7B7B;
}

/* Floating action button */
.fab {
  position: absolute;
  right: 50px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: green;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}

#head {
  width: 100%;
  height: 275px;

  background: url("../images/small_banner.jpg");
  background-position: left top;
  background-size: cover;

  border-radius: 25px 25px 0 0;
  -moz-box-shadow:    inset  0 -10px 10px -10px grey;
-webkit-box-shadow: inset  0 -10px 10px -10px grey;
 box-shadow:        inset  0 -10px 10px -10px grey;
}

#profile_pic {
  width: 100px;
  height: 100px;

  margin-left: 75%;
  margin-top: -5%;

  background: url("../images/cib_logo.png");
  background-position: left top;
  background-size: cover;

  border-radius: 100px;
  border: 2px solid white;
  box-shadow: 0px 0px 8px black;

  position: absolute;
}

@-webkit-keyframes slider {
  0% {
    background: url("../images/banner1.jpg");
  }
  50% {
    background: url("../images/banners2.jpg");
  }
  100% {
    background: url("../images/banner3.jpg");
  }

}


#slideshow {
  background-color: #e1e1e1;
  background: url("../images/banner1.jpg") no-repeat; /* this default image will show where browsers unable to process the [animation] function */
  background-size: cover;
  width: 100%;
  height: 275px;
  border-radius: 25px 25px 0 0;
  /* animation */
  -webkit-animation: slider 10s infinite ease-in-out;
  -webkit-animation-direction: alternate;


  -moz-box-shadow:    inset  0 -10px 10px -10px grey;
-webkit-box-shadow: inset  0 -10px 10px -10px grey;
 box-shadow:        inset  0 -10px 10px -10px grey;
}




@media screen and (max-width: 768px) {
  #wrapper {
    width: 90%;
  margin:1em auto;
  }


  #slideshow {
    width: 100%;
    height: auto;
    background-size: cover;
  }
  #slideshow img {
    max-width: 100%;
    margin: 0 auto;
  }

}
